<div id="treasure-list" class="container-fluid">
  <h2>My Treasure</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action" *ngFor="let treasure of treasures" [class.selected]="treasure === selectedTreasure" (click)="onSelect(treasure)">{{treasure.name}}</li>
  </ul>

  <hr class="divider">

  <div *ngIf="selectedTreasure">
    <h2>{{selectedTreasure.name | uppercase}} Details</h2>
    <ul class="list-group">
      <li class="list-group-item">Id: {{selectedTreasure.id}}</li>
      <li class="list-group-item">
        <label for="treasure-name">Name:</label><br>
        <input id="treasure-name" class="form-control" [(ngModel)]="selectedTreasure.name"
        placeholder="name">
      </li>
      <li class="list-group-item">Location: {{selectedTreasure.location}}</li>
    </ul>
  </div>
</div>







<!-- <div id="treasure-details" class="container-fluid">
  <h3>{{treasure.name}} Details</h3>
  <ul class="list-group">
      <li class="list-group-item">
        <label for="treasure-id"><b>Id:</b></label>
        <span id="treasure-id">{{treasure.id}}</span>
      </li>
      <li class="list-group-item">
        <label for="treasure-name">Name:</label><br>
        <input id="treasure-name" type="text" [(ngModel)]="treasure.name">
      </li>
      <li class="list-group-item">
        <label for="treasure-location">Location:</label>
        <span id="treasure-location">{{treasure.location}}</span>
      </li>
    </ul>
</div> -->
